@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: "Open Sans", serif;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(233, 158, 243, 0.911);
  background: -moz-linear-gradient(135deg, rgba(241, 164, 248, 0.705) 0%, rgba(44, 5, 42, 0.911));
  /* background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(241, 164, 248, 0.705), color-stop(100%, rgba(44, 5, 42, 0.911))); */
  background: -webkit-linear-gradient(135deg, rgba(241, 164, 248, 0.705) 0%, rgba(44, 5, 42, 0.911));
  background: -o-linear-gradient(135deg, rgba(241, 164, 248, 0.705) 0%, rgba(44, 5, 42, 0.911));
  background: -ms-linear-gradient(135deg, rgba(241, 164, 248, 0.705) 0%, rgba(44, 5, 42, 0.911));
  background: linear-gradient(135deg, rgba(241, 164, 248, 0.705) 0%, rgba(44, 5, 42, 0.911));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2db0e0', endColorstr='#6028a8', GradientType=1 );
}

.main {
  height: 55vh;
  background: linear-gradient(135deg, rgba(229, 110, 240, 0.281) 60%, rgba(44, 5, 42, 0.911));
  box-shadow: 0px 2px 80px -20px rgba(0,0,0,0.5);
  width: 60%;
  margin: 0 auto;
}

.info {
  height: 55vh;
  background: url("img/back.jpg") center center no-repeat;
  background-blend-mode: multiply;
  background-color: #979494;
  border: 2px solid #1f1f1f;
  border-right: 2px solid #131e29;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
}

.form {
  height: 55vh;
  padding-top: 100px;
  padding-left: 50px;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  border-right: 2px solid #000000;
}

input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 2px #000000;
  width: 50%;
  padding-bottom: 4px;
  color: #fff;
  font-weight: lighter;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 20px;
  outline: none;
}

input::-webkit-input-placeholder {
  color: rgba(0,0,0,0.5);
}

input::-moz-placeholder {
  color: rgba(0,0,0,0.5);
}

button {
  border: 2px solid rgba(0,0,0,0.5);
  border-bottom: 4px solid rgba(0,0,0,0.5);
  padding: 8px 20px;
  margin: 0 2px;
  border-radius: 2px;
  cursor: pointer;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  outline: none!important;
}

button:hover {
  border-bottom: 2px solid rgba(0,0,0,0.5);
  position: relative;
  top: 2px;
}

button:active {
  border-bottom: 2px solid transparent;
  border-color: transparent;
  position: relative;
  top: 2px;
}

.info h2 {
  font-size: 3em;
  color: #fff;
}

.info p {
  color: #e4e4e4;
  font-weight: bold;
}

.infoWeath {
  width: 60%;
  font-size: 15px;
  color: #fff;
}

.error {
  color: #241606;
  font-weight: bold;
}